{% extends '::base.html.twig' %}

{% block body %}

<div class="col-md-6 col-md-offset-3 form-new">
	
	<div class="col-md-12">
		<h1>Ajoutez un nouveau commentaire</h1>

<form>
	<br><label>id user</label><input type="" name="">
	<br><label>id film</label><input type="" name="">
	<br><label>id date</label><input type="" name="">
	<br><label>content</label><input type="" name="">
</form>

		<hr>
	</div>
</div>

{% endblock %} 